---
layout: layouts/base.njk
title: "Authors"
---

<h2>Authors</h2>
<p>All authors who have contributed to this site.</p>
<ul>
  {% for author in collections.authors | default([]) %}
    <li>
      <article>
        <a href="{{ author.url }}">
          {% if author.data.image %}
            <img src="{{ author.data.image }}" alt="Portrait of {{ author.data.name }}" width="72" height="72" />
          {% endif %}
          <strong>{{ author.data.name }}</strong>
        </a>
        {% if author.data.bio %}
          <p>{{ author.data.bio }}</p>
        {% endif %}
      </article>
    </li>
  {% endfor %}
</ul>
